<nav id="ads-nav">
    <div class="nav-content">
        <div class="nav-logo">
            <a href="/">
                <img src="/imgs/main.png">
            </a>
        </div>
        <div class="links-utils">
            <div class="nav-links">
                <a class="nav-link" href="/aktuality/">Aktuality</a>
                <a class="nav-link" href="/debaty/">Debaty</a>
                <a class="nav-link" href="/about/">O ADS</a>
                <a class="nav-link" href="/kontakt/">Kontakt</a>
            </div>
            <div class="nav-utils">
                <button id="theme-toggle" >
                    <i id="theme-icon" class="fa-regular fa-sun"></i>
                </button>
            </div>
        </div>
    </div>
</nav>